В этом задании нужно отобрать записи, у которых более 20 категорий, далее их нужно сгруппировать по провинциям и подсчитать минимальную `longitude` в каждой. Округлите значения `longitude` до 3-х знаков после запятой.

Далее сохраните результирующий датафрейм в файл в формате csv с сепаратором `;`. Сам датафрейм должен содержать две колонки: `province` и `longitude`

In [14]:
import pandas as pd

data = pd.read_csv('data.csv')
data['dateAdded'] = pd.to_datetime(data['dateAdded'])
data['dateUpdated'] = pd.to_datetime(data['dateUpdated'])
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77260 entries, 0 to 77259
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 77260 non-null  object
 1   address            77260 non-null  object
 2   categories         77260 non-null  object
 3   city               77260 non-null  object
 4   cuisines           38384 non-null  object
 5   dateAdded          77260 non-null  datetime64[ns, UTC]
 6   dateUpdated        77260 non-null  datetime64[ns, UTC]
 7   latitude           55636 non-null  float64
 8   longitude          55636 non-null  float64
 9   menus.category     3729 non-null   object
 10  menus.currency     40511 non-null  object
 11  menus.dateSeen     77260 non-null  object
 12  menus.description  29323 non-null  object
 13  menus.name         77260 non-null  object
 14  name               77257 non-null  object
 15  province           77257 non-null  object
dtypes: datetime64[ns, UTC](2), float64(2), object(12)
memory usage: 9.4+ MB

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [16]:
data['categories_count'] = data['categories'].str.count(',')

In [20]:
result = data[data['categories_count'] > 19]  \
    .groupby('province', as_index=False)  \
    .agg({'longitude': 'min'})  \
    .round(3)
result

        province  longitude
0             AZ   -110.136
1             CA   -122.417
2             DC    -77.075
3          G P O    -73.990
4             KY    -87.455
5             MA    -71.055
6             MD    -77.453
7             NY    -76.794
8   St Simons Is    -81.394
9             TX    -94.939
10            VA    -77.093
11            WA   -122.383
12            WI    -89.377

In [21]:
result.to_csv('task_19.csv', sep=';', index=False)